pip install -r requirements.txt <- 명령어로 설치(설치시 이 라인은 삭제)
aiohappyeyeballs
aiohttp
aiosignal
alembic
altair
annotated-doc
annotated-types
anyio
APScheduler
asgiref
attrs
av
backoff
bcrypt
beautifulsoup4
bidict
blinker
build
cachetools
certifi
charset-normalizer
chromadb
click
cssselect
ctranslate2
dataclasses-json
defusedxml
distro
duckdb
durationpy
edge-tts
et_xmlfile
fastapi
faster-whisper
feedfinder2
feedparser
filelock
flatbuffers
fonttools
fpdf2
frozenlist
fsspec
gitdb
GitPython
googleapis-common-protos
granian
greenlet
grpcio
gunicorn
h11
hf-xet
httpcore
httptools
httpx
httpx-sse
huggingface_hub
idna
importlib_metadata
importlib_resources
iniconfig
jieba3k
Jinja2
jiter
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
kubernetes
langchain
langchain-chroma
langchain-classic
langchain-community
langchain-core
langchain-ollama
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
lxml
lxml_html_clean
Mako
markdown-it-py
MarkupSafe
marshmallow
mdurl
mmh3
mpmath
multidict
mypy_extensions
narwhals
nltk
numpy
oauthlib
ollama
onnxruntime
openai
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
ormsgpack
overrides
packaging
pandas
pillow
platformdirs
pluggy
posthog
propcache
protobuf
psycopg2-binary
pyarrow
pybase64
pydantic
pydantic-settings
pydantic_core
pydeck
pyflakes
Pygments
PyMuPDF
PyPDF2
PyPika
pyproject_hooks
pytesseract
pytest
python-dateutil
python-dotenv
python-engineio
python-multipart
python-socketio
pytz
PyYAML
redis
referencing
reflex-hosting-cli
regex
reportlab
requests
requests-file
requests-oauthlib
requests-toolbelt
rich
rpds-py
setuptools
sgmllib3k
shellingham
simple-websocket
six
smmap
sniffio
soupsieve
SQLAlchemy
sqlmodel
starlette
streamlit
sympy
tabulate
tenacity
tldextract
tokenizers
toml
tornado
tqdm
typer
typer-slim
typing-inspect
typing-inspection
typing_extensions
tzdata
tzlocal
urllib3
uuid_utils
uvicorn
uvloop
watchdog
watchfiles
websocket-client
websockets
wrapt
wsproto
xxhash
yarl
zipp
zstandard
